* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

.home,
.history {
    height: calc(100vh - 56px - 56px);
    overflow-y: auto;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9fa8b9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #808a9d;
}

.nav {
    height: 56px;
    background-color: #1c1c1c;
}

.nav>li>a {
    line-height: 38px;
    height: 100%;
    color: #fff;
    transition: color .2s ease-in-out;
}

.nav>li>a:hover {
    color: lightseagreen;
}

.nav-link:hover,
.router-link-exact-active {
    color: lightseagreen !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 56px;
    line-height: 56px;
    background-color: #1c1c1c;
    text-align: center;
}

.footer>.credits {
    color: #fff;
    font-size: 12px;
}

.login,
.register,
.verify,
.not-found {
    display: flex;
    height: calc(100vh - 40px);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login>form,
.register>form,
.verify>form,
.not-found>div {
    width: 50%;
    padding: 2rem;
}

.not-found>* {
    text-align: center;
}

.bi-icon {
    fill: #fff;
}

.spacer {
    display: inline-block;
    width: 10px;
}

.margin-0 {
    margin: 0px !important;
}

.margin-vertical-1em {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.width-200px {
    width: 200px;
}

#info .modal-header {
    border-bottom: none;
}

#info .modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

.info-chapter>caption {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: #808a9d;
    padding: 0;
}

.info-title {
    color: #58667e;
    font-weight: 500;
    font-size: 14px;
}

.info-sub-title {
    color: #58667e;
    font-weight: 500;
    font-size: 12px;
}

.info-value {
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.info-sub-value-up {
    font-size: 12px;
    font-weight: 600;
    color: #16c784;
}

.info-sub-value-down {
    font-size: 12px;
    font-weight: 600;
    color: #ea3943;
}

.info-spacing {
    height: 40px;
}

.up {
    color: #16c784 !important;
}

.down {
    color: #ea3943 !important;
}

@media only screen and (max-width: 768px) {
    .login>form,
    .register>form,
    .verify>form,
    .not-found>div {
        width: 75%;
        padding: 2rem;
    }
}

@media only screen and (max-width: 576px) {
    .login>form,
    .register>form,
    .verify>form,
    .not-found>div {
        width: 100%;
        padding: 2rem;
    }
}